<nav class="navbar navbar-expand-lg bg-primary-subtle border border-primary-subtle text-center" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
          <a class="btn btn-outline-warning me-2"  [routerLink]="['punto1']">EVENTOS</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-warning me-2"  [routerLink]="['punto2']">PRODUCTOS</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-warning me-2"  [routerLink]="['punto3']">JUEGO</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-warning me-2"  [routerLink]="['formulario']">FORMULARIO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>