<div class="container mt-3">

  <div class="text-center">
    <div
      class="text-warning p-3 mb-2 bg-black bg-opacity-50 text-primary border border-3 border-black rounded-5 rounded-top-0">
      <h1>MEMORY CARDS</h1>
    </div>

    <button class="btn btn-success me-2" (click)="iniciarJuego()">
      INICIAR
    </button>

    <button class="btn btn-warning me-2" (click)="habilitarIntento()">
      INTENTAR
    </button>

    <button class="btn btn-danger" (click)="reiniciarJuego()">
      REINICIAR
    </button>

  </div>

  <h3 class="text-center text-body-tertiary mt-3 mb-4">
    Intentos restantes: {{ intentos }}
  </h3>

  <div class="bg-dark rounded tablero">
    <div class="carta" *ngFor="let carta of cartas" (click)="seleccionarCarta(carta)">

      <img [src]="carta.volteada || carta.encontrada
              ? carta.imagen
              : imagenTapada">
    </div>
  </div>

</div>